body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 100%;
    margin: auto;
}
header {
background: #ffffff;
width: 80%;
color: white;
font-size: 100%;
line-height: initial;
text-align: center;
margin:0 auto;
padding-bottom: 50px;
}

nav {border-radius: 10px;
	border-color: #000;
    display: block;
    width:70%;
    background-color: #007089;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    text-align: center;
}
section {
    line-height: 1.5em;
    font-size: 1.3em;
    width: 70%;
    float: left;
    padding-right: 1.5em;
  padding-left: 2em;
  padding-top: 2em;

}
section img {
    width: 70%;
    padding-bottom: 1em;
    margin-right: 3em;
}
nav ul li:hover{
    background: #004656;
    color: #ffffff;
}
nav a:hover{
    color: #007089;
    text-decoration: none;
}
nav a:link{
    text-decoration: none;
}
nav a:active{
    text-decoration: none;
}
nav a:visited{
    text-decoration: none;
}
   

h1{color:#007089;}
h2 {
    text-align: left;
    color: #007089;
}
    h3 {
    text-align: left;
    color: #007089;
}


footer {
    clear: both;
    text-align: center;
    margin:auto;
    line-height: 1.5em;
    font-size: 1.3em;
}
#header_image {
    /*outline: #007089 dotted;*/
    width: 100%;
    height: 11em;
}
#main_header_image {
    padding-top: 5%;
    float: right;
    width: 70%;
}
#logo{
    padding-top: 4%;
    float: left;
    width: 25%;
    height: 100%;
}
nav {
clear: both;
font-size: 1.250em;
}
@media screen and (max-width:580px) {
    body {
        width: 100%;
    }

    header img {
        width: 75%;
    }
    video {
    width: 100%
    }

    nav ul {
        max-height: 0;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
 section {
        width: 100%;
    }
 #header_image {
        /*outline: #007089 dotted;*/
        width: 100%;
        height: 6em;
    }

    #main_header_image {
        padding-top: 10%;
        padding-left: 0.5%;
        float: right;
        width: 78%;
    }

    #logo {
        padding-top: 1%;
        float: left;
        width: 20%;
        height: 5em;
    }
}
